@model ENGLISH_CENTER_MVC_ASP.NET_CORE.Models.NhanvienAccount
@{
}   
<div class="form-group col-md-4">
    <br />
    <form>
  <label class="form-label ">Đăng Nhập</label>
  <div class="form-group">
    <input asp-for="UidNhanvienAccount" type="text" class="form-control" id="floatingInput" placeholder="Tài khoản">
    <br />
  </div>
  <div class="form-group">
    <input asp-for="PwdNhanvienAccount"type="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu">
   
  </div>
<div class = "form-group">
    <br />
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    </div>
    </form>
</div>